html{
    margin:0;
    padding:0;
    background: url(dezza.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
} 
 
 
 .fig {
    display: block; 
    text-align: center; 
    font-style: italic; 
    margin-top: 10; 
    margin-bottom: 5px; 
    color: #666; 
   } 
/* tableau */
   table   {
       background: url(nebo.png);
       margin-left: 20%;
       margin-top: 15%;
       font-size: 100%;
       table-layout: fixed;
       width: 60%;
       border-collapse: collapse;
       border: 3px solid rgb(29, 199, 86);
   }
   caption {
       max-width: 100%;
       font-size: 200%;
   }
   thead th :nth-child(1) {
       padding: 0%;
       border: solid;
   }
    td{
       padding: 0px;
       border: solid;
   }

   #nebo.png {
       max-width: 100%;
       margin-bottom:-2% ;
   }

#test{
    border:0px solid rgb(9, 255, 0);
    position:absolute;
    bottom:0px;  
   }

   #test1{
    border:0px solid rgb(255, 251, 11);
    position:absolute;
    bottom:0px;
    right:1475px;
   }
   #test2{
    border:0px solid rgb(9, 255, 0);
    position:absolute;
    bottom:0px;  
   }

   /* boite-toit */

   